<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Project_3_and_4_Tests.Properties.Settings.Project3_4DatabaseConnectionString"
            connectionString="Data Source=ISAACPC\SQLEXPRESS;Initial Catalog=Project3&amp;4Database;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>